.visualizer {
  width: 100%;
  min-height: 50rem;
  height: 50vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#visualizer-bar-container {
  width: 90%;
  height: 80%;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 1s ease;
}

.bar-background {
  background-color: #7e97ad;
  color: white;
}

.green {
  background-color: #90ee90;
  color: black;
}
.red {
  background-color: #ff6961;
  color: black;
}

.yellow {
  background-color: khaki;
  color: black;
}

.purple {
  background-color: #b48fd9;
}

.blue {
  background-color: #7e97ad;
  color: white;
}
